@import "tailwindcss";


.active li{
    @apply text-cyan-500
}


::-webkit-scrollbar{
    @apply hidden
}

:root {
--color-primary: #006B75;
--color-secondary:  #1d9aaa;
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
}